
.navlogo{
    height:20px;
    width:40px;
    margin:4px 5px 0px 30px;
}
.navlinks{
   float:right;
   margin-left:auto;
   margin-right:100px;
}
.btnlink{width:220px;}
.navbar1{ box-shadow: #ccccff 0px 2px 4px; }
h2{
    font-size:40px;
    color:#443662;
}
.card1{
    padding:50px;
    margin:45px 45px 15px 45px;
    float:left;
    border-radius:15px;
    box-shadow: #e6e6ff  10px 10px 10px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
}
.card:hover{
    box-shadow: #e6e6ff  20px 20px 20px;
    transform:scale(1.05)

}
.img-ill2{
    position: absolute;
    z-index:-1;
    float:right;
    margin-top:300px;
}
.back{background-color:#f2f2f2;}
.dsclogo{
    margin-top:80px;
    margin-left:45px;
   }
.blue{color:#1a75ff;font-size:20px;}
/* .wave{z-index:-1;} */
.boxes{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    position:relative;

}
.box{
    height:130px;
    width:130px;
    margin:20px;
    border-radius:5px;
    padding:10px;
    background-color: #ffff;
    box-shadow:  #005ce6 8px 8px;
}
.backg{
    background-color: #3366ff;
    height:auto;
    margin-top:50px;
    padding-top:40px;
    padding-bottom:40px;
}
.tech{
    height:90px;
    width:90px;
    margin-left:12px;
}
span{font-size:13px; margin-left:20px;}
.box:hover{transform:scale(1.1);}
h3{
  margin-left:100px;
  margin-top:35px;
  }  
  .team{margin-left:170px;}
.member{
    height:160px;
    width:140px;
    padding:5px;
    margin:20px;
    border-radius:5px;
}
.member-img{
    height:100px;
    width:100px;
    margin-left:16px;
    border-radius:50%;
    border:solid 4px #f2f2f2;
}
.icons{ margin-left:5px;
height:18px;
width:18px;}
.allicons{display:inline-block; margin-left:25px;}
.cards{margin-left: 75px;}
.space{ height:100px;}
.about{margin:100px 0px 0px 100px; max-width:600px;}
.mentors{margin-left:0px;}
    .ment{margin-left:100px;}
.logo2{ height:50px; width:100px;
margin:40px;}
.logo3{height:80px; width:80px;}
.events{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin:auto;
    max-width:700px;
}
h6{
color:#333333;
text-align: center;
line-height: 5em;}
.event{
    height:auto;
    width:auto;
    background-color: #ffffff;
    margin:40px 40px 0px 0px;
    border-radius:5px;
    box-shadow:#ccccff 5px 5px 5px;

    padding:20px;
    }
footer{
    bottom:0;
    height:auto;
    background-color:#282a36;
    color:#ffff;
    font-size:14px;
    }
.credits{
    margin-top:250px;
    padding:20px;
    text-align: center;
}
.bodyevents{background-color: #f2f2f2;}
.center{margin:auto;text-align: center;}
li:hover {background-color:#e6e6e6; border-radius:5px;}
.eve{height:100px; width:100px;}
.date{font-size: 11px;}
.flexbox{
    display:flex;
    flex-wrap: wrap;
    float:center;
    flex-direction: row;
  }
  .icons2{height:25px; width:25px;margin:8px;}
  .allicons2{display:inline-block;}
.logos{margin:150px 0px 0px 50px;}
.mentors-text{margin-left:100px; margin-top:20px;}
.contact{width:400px;margin-top:50px;
margin-left:500px; margin-right:500px;}
.post{font-size: 12px; font-family: arial;
text-align: center; color:#00994d; font-weight: bolder;}
i{margin:5px;}
.role{color:#1a75ff;font-size:13px;
margin-top:0px;
margin-left:0px;}

.role2{color:#1a75ff;font-size:13px;
    margin-top:0px;
    margin-left:0px;}
    
@media screen and (max-width: 500px){
.card1{margin:35px 20px 25px 20px; padding:35px; }
.team{margin:auto; text-align:center;}
.dsclogo{display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;}
.boxes{margin:auto;}
.about{margin:45px 20px 0px 20px; padding:25px;}
footer{margin-top:700px;}
.navlinks{margin-right:150px; }
.eve{display:none;}
.hod1, .hod{margin:auto;}  
.member{margin:10px auto 15px auto;}
.cards{margin-left:0px;}
.logos{margin:0px 0px 20px 0px;}
.mentors-text{ text-align: center; margin:auto;
margin-bottom:30px;margin-top:15px;}
.contact{margin-top:80px; width:auto;}

}

   