.logo{
    height:30px;
    width:60px;
    margin:0px 5px 0px 30px;
}
.navlinks{
   float:right;
   margin-left:auto;
   margin-right:100px;
}
.btnlink{width:220px;}
.navbar1{ box-shadow: #ccccff 0px 2px 4px; }
h2{
    font-size:40px;
    color:#443662;
}
.card{
    padding:50px;
    margin:45px 45px 15px 45px;
    float:left;
    border-radius:5px;
    box-shadow:#f2f2f2 5px 10px 10px;
}
.img-ill{
    float:right;
    z-index:-1;
    height:300px;
    width:600px;
    margin-top:100px;
    
    
   }
.img-ill2{
    position: absolute;
    z-index:-1;
    float:right;
    margin-top:300px;
}
.back{background-color:#f2f2f2;}
.dsclogo{
    margin-top:80px;
    margin-left:45px;
   }
.blue{
      color:#1a75ff;
      font-size:20px;
    }

a{color: #00b359}
.wave{z-index:-1;}
.boxes{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    float:center;
    flex-direction: row;
    max-width:1100px; 
    margin:auto;
}
.box{
    height:130px;
    width:130px;
    margin:20px;
    border-radius:5px;
    padding:10px;
    background-color: #ffff;
    box-shadow:  #005ce6 5px 5px;
}
.background{
    background-color: #0099ff;
    height:auto;
}
.tech{
    height:90px;
    width:90px;
    margin-left:13px;
}
span{
    display:inline-block;
    text-align:center;
    font-size:13px;
    margin-left:20px;
}
.box:hover{
    transform:scale(1.1) ;
}
h3{
      margin-left:100px;
      margin-top:35px;
  }  
.member{
    height:160px;
    width:140px;
    /* background-color: #ffffff;  */
    padding:5px;
    margin:20px;
    border-radius:5px;
}
.member-img{
    height:100px;
    width:100px;
    margin-left:16px;
    border-radius:50%;
}
.icons{ margin-left:5px;}
.allicons{
    display:inline-block;
    margin-left:25px;
}
.space{ height:200px;}
.about{margin:100px 0px 0px 100px;
    max-width:600px;
}
.mentors{margin-left:100px;
    z-index:1;
    }
    .ment{margin-left:100px;}
.logo2{
    height:100px;
    width:200px;
    margin:20px 0px 0px 65px;
}
.logo3{
    height:80px;
    width:80px;
    margin-top:20px;
}
.events{
    display:flex;
    flex-direction: column;
    float:center;
    margin:auto;
    max-width:600px;
}
h6{font-size: 10px;
color:#333333;
text-align: center;}
.event{
    height:auto;
    width:auto;
    background-color: #ffffff;
    margin:40px 40px 0px 0px;
    border-radius:5px;
    box-shadow:#cce0ff 5px 5px 10px;
    padding:20px;
    }
footer{
    height:auto;
    background-color: #333333;
    color:#ffff;
    font-size:12px;
    /* margin-top:300px; */
    }
.credits{
     margin-top:250px;
    padding:20px;
    text-align: center;
}
.bodyevents{background-color: #f2f2f2;}
.learn{margin-top:5px;
}
.center{margin:auto;
    text-align: center;
}
li:hover {
    background-color:#e6e6e6;
    border-radius:5px;
}
.staff{ height:160px;
    width:140px;}
.eve{height:100px;
width:100px;}
.date{font-size: 11px;}
.hod{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:100px 0px 0px 40px;
   }
   .hod1{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:20px 0px 0px 60px;
   }
    .flexbox{display:flex;
        flex-wrap: wrap;
        float:center;
        flex-direction: row;
        max-width:1100px; 
        }
        .btn1{margin:0px 0px 0px 20px;}


@media screen and (max-width: 500px){
.card{margin:35px 25px 25px 25px;
     padding:35px; }
.team{margin-left:40px;
      text-align:center;}
.dsclogo{display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;}
.boxes{
margin:auto;}
.about{margin:45px 20px 0px 20px;
       padding:25px;}
       
footer{margin-top:700px;}
.navlinks{margin-right:150px; }
.eve{display:none;}
.event{margin:15px;}
.hod1, .hod{margin:auto;}  
.member{margin:10px auto auto auto;}
.logo2{display:none;}
.logo3{display:none;}
.ment{margin-top:50px;
display:flex;
margin-left:130px;
}

}

   